<div id="main-container">
  <div class="container" [ngClass]="status" id="container">
    <div class="form-container sign-up">
      <form (ngSubmit)="submit(ref)" #ref="ngForm">
        <h1>Create Account</h1>


        <span>or use your email for registeration</span>
        <input type="text" placeholder="Name" required name="name" ngModel />
        <input type="number" placeholder="Phone Number" required name="phone" ngModel />
        <input type="email" placeholder="Email" name="email" required ngModel />
        <input type="password" placeholder="Password" name="password" required ngModel />
        <!-- <input type="password" placeholder="Password" name="password" required ngModel /> -->
        <input ngModel type="text" name="address" placeholder="Address" />

        @if (isUserLog) {

        <input type="number"  name="houseNumber" id="houseNumber"
          placeholder="House Number" ngModel required>



        }



        <div *ngIf="isWorkerLog">
          <select class="ui dropdown w-100 fs-6 rounded-1 border border-white text-secondary" style="height: 40px;"
            [(ngModel)]="workerProfession" [ngModelOptions]="{standalone: true}" name="service" required>
            <option value="" name="">Worker Profession</option>
            <option ngModel [ngModelOptions]="{standalone: true}" value="plumber">Plumber</option>
            <option ngModel [ngModelOptions]="{standalone: true}" value="electrician">Electrician</option>
            <option ngModel [ngModelOptions]="{standalone: true}" value="painter">Painter</option>
          </select>
        </div>


        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form (ngSubmit)="login(logref)" #logref="ngForm">
        <h1>Sign In</h1>

        <span>or use your email password</span>
        <input type="email" placeholder="Email" ngModel name="email" />
        <input type="password" name="password" ngModel placeholder="Password" required />

        <a href="#">Forget Your Password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login" (click)="signIn()">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          @if(isWorkerLog){
          <p>Register with your working details to use all of site features</p>
          }
          @if(isUserLog){
          <p>Register with your personal details to use all of site features</p>
          }
          <button class="hidden" id="register" (click)="signUp()">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>