<nav class="justify-content-center w-100 d-flex border h-25">
  <h2 class="">Welcome Shubham</h2>
</nav>

<section class="w-100 border ">
  <div class="container">
    <p>Select a service to book:</p>

    <div class="service-list">
      <div class="service-card" *ngFor="let service of services">
        <img [src]="service.icon" alt="{{ service.name }}" />
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <button (click)="bookService(service)">Book Service</button>
      </div>
    </div>
  </div>
</section>